<main>
  <section>
    <h1>Welcome</h1>
    <p>
      Welcome to my portfolio that i have created for the final project of my
      WEB210 class.
    </p>
    <p>My name is brandon Lanoue and i am a student at St. Claire College and
      currently participating in the Mobile Application Development program. </p>
    <p>We are currently ending our third semester and i am super excited to see what this program has to
      offer as i am greatly enjoying the classses i have now.
    </p>

  </section>


  <section>
    <h1>who am i?</h1>

    <p>I was born here in Windsor Ontario and have lived here my entire life</p>
    <p>I am 21 years old and i have 1 brother and 1 sister. also my favourite food is pizza</p>
  </section>
</main>
