<main>

  <section>
    <h1>Employment</h1>
    <p>I am currently employed at Next Dimension and i have worked there since June 5th 2023 as the role of a tier 1 technician</p>
    <p>I enjoy working at Next Dimension and i only have good things to tell about it but i do feel that in the future i would want a as some form of programmer</p>
  </section>
  <section>
    <h1>Schooling</h1>
    <p>
      I went to Corpus Christi middle school,then after i graduated i went to F.J Brennan High School and Graduated in 2022.

    </p>
    <p>currently i am enrolled in the MOBILE APP Development at St.Claire College but i have previously completed the 3 year program Computer Systems Technology - Networking, also at St.Clair College </p>
  </section>
  <section>
    <h1>Hobbies</h1>
    <p>My main 2 hobbies are video games and reading. My favourite video game is actually Warcraft 3 which is a real time strategy game from 2002.

    </p>
    <p>But currently i mainly play new games like Marval rivals</p>

    <p>As for reading i am mainly a standard fantasy action reader</p>
  </section>
</main>
