main
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position:  relative;
  width: 100%;
  height: 85%;

}


main > section
{
  background-image: url("/book.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-size: 100% 100%;
  box-sizing: border-box;

  width: 500px;

  height: 600px;

}
main > section > h1
{
  margin: 10%;
  font-size:  32px;
  margin-bottom:  20px;
  text-align: center;
}
main > section > p
{
  margin: 10%;
  display: block;
  font-size:  20px;
  margin-bottom:  30px;
}
