<main>
  <section>
    <h1>Contact me</h1>
    <form [formGroup]="emailForm" method="post">
      Enter your Name:
      <input type="text" size="15" id="name" formControlName="name"/><br/>
      Enter your email
      <input type="text" size="30" id="sender" formControlName="email"/><br/>
      Enter a message
      <input type="text" size="30" id="message" formControlName="message"/><br/>
      <button type="submit" [appDisablebutton]="emailForm" >Submit</button>
    </form>
  </section>
</main>
