
main
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position:  relative;
  width: 100%;
  height: 85%;

}

main > section
{
  background-image: url("/book.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-size: 100% 100%;
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  padding-top: 20px;
  padding-left: 50px;

}
form
{

}
form > input:nth-child(8)
{
  height: 50px;
}
input, textarea {
  background: transparent;
  border: none;
  outline: none;     /* optional: removes focus outline */
  color: black;      /* text still visible when typing */
}
button
{
  display: block;
  background-image:  url('https://i.ibb.co/rb2TWXL/bgbtn.png');
  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}
.custom-disabled {
  background-color: #d3d3d3 !important; /* Gray background to indicate disabled */
  color: #a9a9a9 !important; /* Light gray text color */
  cursor: not-allowed !important; /* Change cursor to indicate unclickable */
  pointer-events: none !important; /* Prevent any mouse events */
  border: 1px solid #ccc !important; /* Keep border consistent */
}
