<nav class="sectionList">
    <section class="level1">
      <button class="mcButton" routerLink="/home" routerLinkActive="active"  >Home</button>
      <button class="mcButton" (click)="dropDown($event)" >Personal Information</button>
      <section class="level2">
        <button class="mcButton" routerLink="/aboutme" routerLinkActive="active"  >About me</button>
        <button class="mcButton" onclick="window.location.href='https://github.com/Blanoue03'" >Github</button>
        <button class="mcButton" routerLink="/contact" routerLinkActive="active"  >Contact Me</button>
        <button class="mcButton" routerLink="/pdf/Resume.pdf" routerLinkActive="active"  >Resume</button>
      </section>
    </section>

  <section class="level1">
    <button class="mcButton" (click)="dropDown($event)" >Projects</button>
    <section class="level2">
      <button class="mcButton" (click)="dropDown($event)" >Personal</button>
      <section class="level3">
        <button class="mcButton" (click)="dropDown($event)" >None Yet, Sorry</button>
      </section>
      <button class="mcButton" (click)="dropDown($event)" >School Assignments</button>
      <section class="level3">
        <button class="mcButton" (click)="dropDown($event)" >CSS</button>
        <section>
          <button class="mcButton" routerLink="/CSS/Assignment4.html" routerLinkActive="active"  >Assignment 4</button>
          <button class="mcButton" routerLink="/CSS/assignment5.html" routerLinkActive="active"  >Assignment 5</button>
          <button class="mcButton" routerLink="/CSS/assignment8.html" routerLinkActive="active"  >Assignment 8</button>
          <button class="mcButton" routerLink="/CSS/Assignment9.html" routerLinkActive="active"  >Assignment 9</button>
        </section>
      </section>

    </section>
  </section>
</nav>
