
html, body
{
  display: block;
  height: 100%;
  width: 100%;
  background-image:linear-gradient(to right, rgba(0, 5, 0, 0.65), rgba(0, 5, 0, 0.65)),url("../public/dirt.png");
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}



header
{
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-image: url("../public/oakplank.png");


  width: 100%;
  height: 15%;
}

@keyframes bobin {
  0% {font-size: 30px;}
  25% {font-size: 32px;}
  50% {font-size: 35px;}
  75% {font-size: 37px;}
  100% {font-size: 40px;}
}

header > figure > figcaption
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  color: yellow;
  height: 100px;
  width: 100px;
  right: 5%;
  bottom: 0;
  z-index: 1;


  font-weight: lighter;


  transform: rotate(-45deg);
  animation-name: bobin;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header figure
{
  position: relative;
}
figure img
{
  height: 100%;
}


.mcButton
{
  display: block;
  background-image:  url('https://i.ibb.co/rb2TWXL/bgbtn.png');
  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}
app-nav
{
  height: 85%;
  width: 15%;
  border: 1px solid black;
  background-image: url("../public/stonebrick.png");
  float: left;
}
.sectionList
{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  background-image: url("../public/stonebrick.png");
  position: static;
  padding: 10px;
}
section > .mcButton
{
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;
}
.level1  section
{
  box-sizing: border-box;
  padding-left: 25px;
  display: none;
}
.level1
{
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
}


.routerContainer
{
  float: left;
  width: 84%;
  height: 85%;
  box-sizing: border-box;
}







